Data Preprocessing

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv('properties_data.csv')
print(dataset.head())

        id          neighborhood   latitude  longitude    price  size_in_sqft  \
0  5528049         Palm Jumeirah  25.113208  55.138932  2700000          1079
1  6008529         Palm Jumeirah  25.106809  55.151201  2850000          1582
2  6034542  Jumeirah Lake Towers  25.063302  55.137728  1150000          1951
3  6326063       Culture Village  25.227295  55.341761  2850000          2020
4  6356778         Palm Jumeirah  25.114275  55.139764  1729200           507

   price_per_sqft  no_of_bedrooms  no_of_bathrooms quality  ...  private_pool  \
0         2502.32               1                2  Medium  ...         False
1         1801.52               2                2  Medium  ...         False
2          589.44               3                5  Medium  ...         False
3         1410.89               2                3     Low  ...         False
4         3410.65               0                1  Medium  ...         False

   security  shared_gym  shared_pool  shared_spa  study  vastu_compliant  \
0     False        True        False       False  False            False
1     False        True         True       False  False            False
2      True        True         True       False  False            False
3     False       False        False       False  False            False
4      True        True         True        True  False            False

   view_of_landmark  view_of_water  walk_in_closet
0             False           True           False
1             False           True           False
2              True           True            True
3             False          False           False
4              True           True           False

[5 rows x 38 columns]

#Checking Null Values

In [8]:
dataset.isna().sum()

id                     0
neighborhood           0
latitude               0
longitude              0
price                  0
size_in_sqft           0
price_per_sqft         0
no_of_bedrooms         0
no_of_bathrooms        0
quality                0
maid_room              0
unfurnished            0
balcony                0
barbecue_area          0
built_in_wardrobes     0
central_ac             0
childrens_play_area    0
childrens_pool         0
concierge              0
covered_parking        0
kitchen_appliances     0
lobby_in_building      0
maid_service           0
networked              0
pets_allowed           0
private_garden         0
private_gym            0
private_jacuzzi        0
private_pool           0
security               0
shared_gym             0
shared_pool            0
shared_spa             0
study                  0
vastu_compliant        0
view_of_landmark       0
view_of_water          0
walk_in_closet         0
dtype: int64

In [10]:
result = dataset.dtypes
print(result)

id                       int64
neighborhood            object
latitude               float64
longitude              float64
price                    int64
size_in_sqft             int64
price_per_sqft         float64
no_of_bedrooms           int64
no_of_bathrooms          int64
quality                 object
maid_room                 bool
unfurnished               bool
balcony                   bool
barbecue_area             bool
built_in_wardrobes        bool
central_ac                bool
childrens_play_area       bool
childrens_pool            bool
concierge                 bool
covered_parking           bool
kitchen_appliances        bool
lobby_in_building         bool
maid_service              bool
networked                 bool
pets_allowed              bool
private_garden            bool
private_gym               bool
private_jacuzzi           bool
private_pool              bool
security                  bool
shared_gym                bool
shared_pool               bool
shared_spa                bool
study                     bool
vastu_compliant           bool
view_of_landmark          bool
view_of_water             bool
walk_in_closet            bool
dtype: object

In [12]:
dataset = dataset.astype({'neighborhood': 'category', 'quality': 'category'})
print(dataset.head())

        id          neighborhood   latitude  longitude    price  size_in_sqft  \
0  5528049         Palm Jumeirah  25.113208  55.138932  2700000          1079
1  6008529         Palm Jumeirah  25.106809  55.151201  2850000          1582
2  6034542  Jumeirah Lake Towers  25.063302  55.137728  1150000          1951
3  6326063       Culture Village  25.227295  55.341761  2850000          2020
4  6356778         Palm Jumeirah  25.114275  55.139764  1729200           507

   price_per_sqft  no_of_bedrooms  no_of_bathrooms quality  ...  private_pool  \
0         2502.32               1                2  Medium  ...         False
1         1801.52               2                2  Medium  ...         False
2          589.44               3                5  Medium  ...         False
3         1410.89               2                3     Low  ...         False
4         3410.65               0                1  Medium  ...         False

   security  shared_gym  shared_pool  shared_spa  study  vastu_compliant  \
0     False        True        False       False  False            False
1     False        True         True       False  False            False
2      True        True         True       False  False            False
3     False       False        False       False  False            False
4      True        True         True        True  False            False

   view_of_landmark  view_of_water  walk_in_closet
0             False           True           False
1             False           True           False
2              True           True            True
3             False          False           False
4              True           True           False

[5 rows x 38 columns]

In [13]:
result = dataset.dtypes
print(result)

id                        int64
neighborhood           category
latitude                float64
longitude               float64
price                     int64
size_in_sqft              int64
price_per_sqft          float64
no_of_bedrooms            int64
no_of_bathrooms           int64
quality                category
maid_room                  bool
unfurnished                bool
balcony                    bool
barbecue_area              bool
built_in_wardrobes         bool
central_ac                 bool
childrens_play_area        bool
childrens_pool             bool
concierge                  bool
covered_parking            bool
kitchen_appliances         bool
lobby_in_building          bool
maid_service               bool
networked                  bool
pets_allowed               bool
private_garden             bool
private_gym                bool
private_jacuzzi            bool
private_pool               bool
security                   bool
shared_gym                 bool
shared_pool                bool
shared_spa                 bool
study                      bool
vastu_compliant            bool
view_of_landmark           bool
view_of_water              bool
walk_in_closet             bool
dtype: object

In [15]:
categories = dataset['neighborhood'].cat.categories
print(categories)

Index(['Al Barari', 'Al Barsha', 'Al Furjan', 'Al Kifaf', 'Al Quoz',
       'Al Sufouh', 'Arjan', 'Barsha Heights (Tecom)', 'Bluewaters',
       'Business Bay', 'City Walk', 'Culture Village', 'DAMAC Hills', 'DIFC',
       'Discovery Gardens', 'Downtown Dubai',
       'Dubai Creek Harbour (The Lagoons)', 'Dubai Festival City',
       'Dubai Harbour', 'Dubai Healthcare City', 'Dubai Hills Estate',
       'Dubai Land', 'Dubai Marina', 'Dubai Production City (IMPZ)',
       'Dubai Residence Complex', 'Dubai Silicon Oasis',
       'Dubai South (Dubai World Central)', 'Dubai Sports City',
       'Falcon City of Wonders', 'Green Community', 'Greens',
       'International City', 'Jebel Ali', 'Jumeirah',
       'Jumeirah Beach Residence', 'Jumeirah Golf Estates',
       'Jumeirah Lake Towers', 'Jumeirah Village Circle',
       'Jumeirah Village Triangle', 'Meydan', 'Mina Rashid', 'Mirdif',
       'Mohammed Bin Rashid City', 'Motor City', 'Mudon', 'Old Town',
       'Palm Jumeirah', 'Remraam', 'The Hills', 'The Views', 'Town Square',
       'Umm Suqeim', 'World Trade Center', 'wasl gate'],
      dtype='object')

In [16]:
categories = dataset['quality'].cat.categories
print(categories)

Index(['High', 'Low', 'Medium', 'Ultra'], dtype='object')

In [17]:
print(dataset.describe())

                 id     latitude    longitude         price  size_in_sqft  \
count  1.905000e+03  1905.000000  1905.000000  1.905000e+03   1905.000000
mean   7.573308e+06    25.116538    55.212338  2.085830e+06   1417.050394
std    1.925252e+05     0.062647     0.068794  2.913200e+06    891.487639
min    5.528049e+06    24.865992    55.069311  2.200000e+05    294.000000
25%    7.560167e+06    25.072791    55.145389  8.900000e+05    840.000000
50%    7.631829e+06    25.096700    55.207506  1.400000e+06   1271.000000
75%    7.670328e+06    25.188130    55.271797  2.200000e+06   1703.000000
max    7.706643e+06    25.273623    55.441623  3.500000e+07   9576.000000

       price_per_sqft  no_of_bedrooms  no_of_bathrooms
count     1905.000000     1905.000000      1905.000000
mean      1327.243785        1.793176         2.512861
std        668.473559        0.949489         1.063117
min        361.870000        0.000000         1.000000
25%        870.920000        1.000000         2.000000
50%       1169.590000        2.000000         2.000000
75%       1622.500000        2.000000         3.000000
max       4805.870000        5.000000         6.000000